* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #E7E7E9;
}

input {
    width: 100%;
    background-color: #E7E7E9;
    border-style: none;
    border-bottom: solid 1px black;
}

h5 {
    display: flex;
    color: #505050;
    align-self: baseline;
}


#id_cadastro {
    margin-left: 15%;
}


.container2 .card .cadastro {
    color: #E295BA;
}

.pagina {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container2 {
    height: 100vh;
    width: 44%;
    background-image: url('../assets/img/conntainer.jpg');
    background-size: cover;
    background-position: 100%;
}

.container1 {
    height: 100vh;
    width: 45%;
    background-color: #E7E7E9;
    display: flex;
    justify-content: center;
    margin: auto;

}

.card {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-self: center;
    margin-top: 10%;
}

.btn-login {
    background-color: #AAAAAA;
    color: white;
    height: 6vh;
    width: 100%;
    border-radius: 10px;
    border-style: none;
}

input, button{
    margin-bottom: 10%;
}


.btn-login:hover{
    background-color: #656565;
    transition: 0.15s ease-in-out;
}
.titulo{
    margin-top: 10%;
    font-size: 160%;
    margin-bottom: 10%;
}

.container2 {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
