*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
    background-color: #E7E7E9;
}

.container{
    display: flex;
    width: 90%;
    margin: auto;
}

.header{
    margin: 0;
    width: 100%;
    height: 400px;
    background-color: #009EA3;
}
.header-group{
    margin: 0;
    width: 100%;
    height: 400px;
    background-color: #009EA3;
}
.nav-bar {
    width: 500px;
    height: 45px;
    color: #ffffff;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 100px;
}
.logo {
    color: rgb(0, 173, 173);
    display: flex;
    align-self: baseline;
    width: 230px;
    height: 200px;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
    
}
.header .container{
    justify-content: space-between;
    align-items: center;
}
.group-header-pai{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.group-header-filho1 h1 {
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 22px;
    width: 270px;
    flex-direction: column;
}
.group-header-filho1 #p{
    width: 500px;
    color: white;
}
.btn-saibamais{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: #009EA3;
    border-style: none;
    color: white;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

#saiba-mais:hover{
    transition: 0.15s ease-in-out;
    color: #322271;
}

.btn-saibamais:hover{
    background-color: white;
    color: #009EA3;
    transition: 0.15s ease-in-out;
}
.btn-cards{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0);
    border-style: none;
    color: #2F91E0;
    border: solid 1.5px #2F91E0;
    border-radius: 5px;
    cursor: pointer;
}
.btn-cards:hover{
    background-color: #2F91E0;
    color: white;
    transition: 0.15s ease-in-out;
}
.cards-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: end;

}
.card {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 30px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    height: 170px;
    box-shadow: 0 -0.5rem 1rem rgba(0 0 0 / 0.10);
}
.group-header-filhos{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.nossos-clientes{
    background-color: #E7E7E9;
    height: 400px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 90px;
    /* margin: auto; */
    
}

.foto-nc img{
    width: 500px;
    height: 260px; 
    padding: 20px;
}   

.text-nc{
    padding: 30px;
}

.text-nc h1{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 15px;
    color: #5F41D9;
}

.text-nc h2{
    font-weight: lighter;
    font-size: 27px;
    color: #000000;
}

.text-nc .p {
    width: 600px;
    text-align: justify;
    color: #757575;
}

#saiba-mais{ 
    display: flex;
    color: #5F41D9;
    align-self: end;
}

.diferenciais{
    background-color: white; 
}

.diferenciais h1 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 15px;
    color: #5F41D9;
}

.diferenciais .p {
    width: 600px;
    text-align: justify;
    color: #757575;
}

.text-diferenciais {
    width: 80%;
    margin: auto;

}

.text-diferenciais h2{
    font-weight: lighter;
    font-size: 27px;
    color: #000000;

}

.cards-diferenciais {
    display: flex;
    width: 80%; 
    margin: auto;
    flex-direction: row;
    
}

.card-dif{
    display: flex;
    
    width: 100%;
    padding: 25px;
    background: linear-gradient(225deg, rgba(0, 210, 216, 0.7) 14.64%, rgba(0, 86, 123, 0.7) 85.36%);
    border-radius: 30px;
    text-align: initial;
    color: white;
    margin: 10px;

    height: 200px;
    
}
.card-dif h1 {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    align-self: baseline;
    text-transform: capitalize;
}

.card-dif-content{
    flex-direction: column;
    display: flex;
}
#cloud{
    font-size: 18px;
}
.espaco1{
    height: 50px;
    background-color: white;
    margin-bottom: -10px;
}

.nav-bar a:hover{
    color: #000000;
    transition: 0.15s ease;
}

.fale-conosco{
    background-color: #E7E7E9;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-bottom: 150px;
}

.msg-fc h1{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 25px;
    color: #5F41D9;
}

.form-fc{
    display: flex;
    width: 80%;
    justify-content: center; 
    align-items: center;
}

.form-fc form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

}

form input{
    width: 100px;
    background-color: #E7E7E9;
    border-style: none;
    border-bottom: solid 1px black;
    width: 100%;

}

.form-fc form div{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 80%;
}

#linha-msg-fc{
    justify-content: center;
    align-items: center;
    display: flex;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit input{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0);
    border-style: none;
    color: #5F41D9;
    border: solid 1.5px #5F41D9;
    border-radius: 5px;
}

.submit input:hover{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0);
    border-style: none;
    color: #000000;
    border: solid 1.5px #000000;
    border-radius: 5px;
    transform: scale(1.05);
    transition: 0.15s ease;
}

.footer{
    width: 100%;
    background-color: #009EA3;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.footer-right{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 10%;
}
.footer-right-content{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}

.footer-right-content a{
   margin-bottom: 15px;
}

.footer-right-content a:hover{
    color: black;
    transition: 0.15s ease;
 }

.footer-left{
    display: flex;
    flex-direction: column;
}

.footer-left a:hover{
    color: black;
    transition: 0.15s ease;
}

.icons-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.compania, .usuario, .calculadora {
    display: flex;
    flex-direction: column;
}

.footer-right-content h1{
    font-size: 16px;
    color: white;
}
