* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #E7E7E9;
}

input {

    width: 350px;
    background-color: #E7E7E9;
    border-style: none;
    border-bottom: solid 1px black;
}

h5 {
    display: flex;
    color: #505050;
    align-self: end;
    width: 90%;
}

.container2 .card .cadastro {
    color: #E295BA;
}

.pagina {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.container1 {
    height: 100vh;
    width: 44%;
    background-image: url('../imgs/conntainer.jpg');
    background-size: cover;
    background-position: 100%;
}

.container2 {
    height: 100vh;
    width: 55%;
    align-self: baseline;
    background-color: #E7E7E9;
   display: flex;
  justify-content: center;

}

.card {
    display: flex;
     width: 80%;
     flex-direction: column;
     align-self: center;
     justify-content: space-around;
     margin-top: 10%;
}

.btn-login {
    background-color: #AAAAAA;
    color: white;
    height: 30px;
    width: 60%;
    border-radius: 10px;
    border-style: none;
    margin-left: 10%;
}

input, button{
    margin: 10px;
}

.titulo{
    margin-top: 10%;
    margin-left: 10%;
}