
/* Definições para um total */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #E7E7E9;
}

.container{
    display: flex;
    height: 120px;
    width: 90%;
    margin: auto;
}

.header .header-group{
    margin: 0;
    width: 100%;
    height: 120px;
    background-color: #009EA3;
}
.nav-bar {
    width: 50%;
    height: 45px; 
    color: #ffffff;
    display: flex;
    list-style: none;  
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5%;
}
.logo {
    color: rgb(0, 173, 173);
    display: flex;
    align-self: center;
    width: 140px;
    height: 120px;
    margin-left: 5%;
}
a{
    text-decoration: none;
    color: #ffffff;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .login a{
    display: flex;
    color: #262526;   
}

.login_icon{
    height: 25px;
    width: 30px;
    margin-left: 15%;
}

/*Iniciando banner*/

.banner {
    background-image: url('../imgs/Banner-SobreNós.png');
    background-size: cover;
    height: 82vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    /* filter: blur(1px); */
}

.banner h1 {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 65px;
    text-shadow: 0.1em 0.1em 0.2em black
}

/* Iniciando parte do texto*/
.text {
    width: 50%;
    margin: auto;
    height: auto;
    margin-bottom: 5%;
}
.titulo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
    color: #3B3538;
}
.text p {
       text-align: justify;
       color: #757575;
       font-size: 20px;
       margin-bottom: 20px;
}
.text span{
    color: #3B3538;
}
.text a{
    color: #009EA3;
}

/* Iniciando parte da equipe */

.equipe h1{
    color: #3B3538;
    text-align: center;
    margin: 70px;
}
.cor-divisao{
    background-color: #009EA3;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
.cor-divisao h1{
    color: white;
    font-size: 40px;
}

/*Cards da equipe*/

.card{
    background-color: rgb(255, 255, 255);
    margin: 30px;
    width: 20%;
    height: 50vh;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card img{
    width: 40%;
}
.card a{
    color: #009EA3;
}
.card h2, p{
    color:#3B3538;
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
}
.parte02, .parte01{
display: flex;
justify-content: center;
}


/* Começando footer */


.footer {
    width: 100%;
    background-color: #009EA3;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 90%;
    display: flex;
    flex-direction: row;
}

.footer-right {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 10%;
}

.footer-right-content {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}

.footer-right-content a {
    margin-bottom: 15px;
}

.footer-right-content a:hover {
    color: black;
    transition: 0.15s ease;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-left a:hover {
    color: black;
    transition: 0.15s ease;
}

.icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.compania,
.usuario,
.calculadora {
    display: flex;
    flex-direction: column;
}

.footer-right-content h1 {
    font-size: 16px;
    color: white;
}