.pagina{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: 100%;
}

.container_img {
    width: 50%;
    height: 100%;
    /* background-image: url(../imgs/conntainer.jpg); */
    background-color: aqua;
}

/* .container {
    position: absolute;
    top: 204px;
    left: 1100px;
    width: 393px;
    height: 600px;
    background-color: white;
} */

.cadastro {
    position: absolute;
    width: 174px;
    height: 28px;

    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}