* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: #E7E7E9;
}

.container1 {
    display: flex;
    width: 100%;
    margin: auto;
}

.imagem img {
    position: absolute;
    width: 550px;
    height: 650px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}

.container1 .logo img {
    display: flex;
    align-self: baseline;
    height: 143px;
    width: 160px;
    left: 0px;
    top: 25px;
    border-radius: 0px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 45%;
    height: 28px;
    width: 174px;
}

.container2 .card {
    background-color: #E7E7E9;
    display: flex;
    height: 300px;
    width: 85%;
    border-radius: nullpx;
    justify-content: space-around;
    align-items: end;
    flex-direction: column;
    margin-top: 90px;
}

.container2 .card .email {
    height: 0px;
    width: 355px;  

}

.container2 .card .senha{
    height: 15px;
    width: 355px;
}

.container2 .card button {
    background-color: #AAAAAA;
    color: white;
    height: 40px;
    width: 356px;
    left: 714px;
    top: 504px;
    border-radius: 10px;
    border-color: #E7E7E9;

}

input {
    width: 350px;
    background-color: #E7E7E9;
    border-style: none;
    border-bottom: solid 1px black;
}

h5 {
    display: flex;
    color: #505050;
    align-self: end;
    width: 345px;
}

.container2 .card .cadastro {
    color: #E295BA;
}