

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
    background-color: #E7E7E9;
}

.geral{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.side-bar{
    display: flex;
    width: 10%;
    height: 100vh;
    position: fixed;
    background-color: #009EA3;
    justify-content: center;
}

.opções_visualização li{
    list-style: none;
}

.opções_visualização .icons{
    width: 18px;
    height: 18px;
    margin-left: auto;
}

.dashbords{
    display: flex;
    width: 90%;
    height: fit-content;
    background-color: #FAF9FF;
    flex-direction: column;
    margin-left: auto;
}

.side-bar .container{
    display: flex;
    flex-direction: column;

}

.container-logo{
    display: flex;
    justify-content: center;
}

.side-bar .container .logo{
    width: 100%;
    height: 100%;
}

.container-opçoes{
    display: flex;
    align-items: center;
    margin-left: 9%;
    
    
}

.opções_visualização{
    font-size: larger;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-self: center;
    margin-bottom: 140%;
    
}

.container-opçoes .lista{
    margin-bottom: 70%;
}


.dashbords .header{
    display: flex;
    width: 100%;
    height: 15%;
    background-color: #FFFFFF;
}

.header .icon{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: end;
}

#icone_sino{
    display: flex;
    width: 5%;
    height: 30%;
    justify-self: end;
    margin: 4%;
}

.select{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: start;
    margin-left: 5%;
    color: #434343;

}

.dashbords .container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.graficos{
    display: flex;
    width: 100%;
    height: 50%;
    align-self: center;
    justify-content: space-evenly;
}

.cor-alerta {
    width: 13%;
    height: 30%;
    border-radius: 50px;
    margin-top: 6%;
    /* background-color: #c7c7c7; */
  }

  .label-captura {
    height: 80px;
  }
  
  .display-none {
    display: none;
  }
  
  .display-flex {
    display: flex;
  }
  
  .display-block {
    display: block;
  }

.container .graficos .card-1{
    display: flex;
    width: 45%;
    margin: 25px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10%;
    border: solid #CCCCCC 1px;
    display: flex;
    flex-direction: column;
}


.dash {
    width: 100%;
    top: 0;
    left: 20%;
    background-color: #ffffff;
    height: 100vh;
    overflow: auto;
  }
  
  .regua {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
  
  .perigo-frio {
    background-color: #5c6bc0;
  }
  
  .perigo-quente {
    background-color: #ff7043;
  }
  
  .alerta-frio {
    background-color: #42a5f5;
  }
  
  .alerta-quente {
    background-color: #ffee58;
  }
  
  .ideal {
    background-color: #9ccc65;
  }
  
  .item-regua {
    padding: 5px;
    width: 15%;
    margin: 5px;
    text-align: center;
    padding-top: 15px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 100%;
    align-items: center;
    color: black;
  }
  
  .card {
    margin: 2%;
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    height: 180px;
    justify-content: right;
    /* background-color: #009EA3; */
    border-color: #009EA3;
    font-size: 20px;
  }
  
  .card p {
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
    text-align: left;
  }
  
  .cards h1 {
    font-size: 22px;
    width: 100%;
    border-bottom: solid white 1px;
    text-align: left;
    font-weight: lighter;
    margin: 20px;
  }

.card-1 .h1-card{
    font-size: 17px;
    margin-left: 6%;
}

.h1-container{
    color: #353535;
    font-size: larger;
    margin-left: 4%;
    margin-top: 3%;
}
 
#p-container{
    color: #CCCCCC;
    margin-left: 4%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#situação-container{
    color: rgb(1, 175, 1);
    margin: auto;
    margin-right: 5%;
}

.header-canvas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.kpis{
    display: flex;
    flex-direction: row;
    width: 95%;
    align-self: center;
    justify-content: space-between;
    margin-top: 3%;
}
.kpi{
    display: flex;
    height: 23vh;
    width: 22%;
    background-color: #FFFFFF;
    border-radius: 10%;
    border: solid #CCCCCC 1px;
    padding: 1%;
}
.conteudo-kpi{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#indi-big{
    font-size: xx-large
}

.icon-kpi img{
    width: 40px;
    height: 40px;
}

/* página dashboards(alguns elementos foram em comum e só reaproveitei) */
#situação-container-atencao{
    color: orangered;
    margin: auto;
    margin-right: 5%;
}

#admin{
    color: #4a4a4a;
    margin-right: 5%;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.escolha_local{
    display: flex;
    justify-content: center;
    gap: 10%;
}

.graficos{
    display: flex;
    flex-direction: row;
}

.graph_umi {
    width: 80%;
    margin: auto;
    padding-top: 10px;
  }
  
  .graph_temp {
    width: 80%;
    margin: auto;
    padding-top: 10px;
  }

  .tituloGraficos {
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
  }

.btn-chart {
    /* font-family: "Exo 2", sans-serif; */
    /* font-weight: 600;
    font-size: 18px; */
    padding: 10px 15px;
    color: #009EA3;
    border-color: solid 3px rgb(0, 0, 0);
    margin: 5px;
    border-radius: 3px;
    width: 15%;
    height: 100%;
  }
  
  
  .btn-blue {
      color: white;
      background-color: #009EA3;
  }
  
  .btn-white {
      color: #009EA3;
      background-color: white;
      
  }
  
  .label-captura {
    height: 80px;
  }
  
  .display-none {
    display: none;
  }
  
  .display-flex {
    display: flex;
  }
  
  .display-block {
    display: block;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
  }

/* pagina de permissoes */

.botoes{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.btn-per{
    width: 19vw;
    height: 8vh;
    border-style: none;
    border-radius: 10px;
}

.btn-per:hover{
    background-color: #009EA3;
    color: white;
    transition: 0.2s ease-in-out;
}

.users-pesquisa{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.input_pesquisa{
    height: 5vh;
    width: 30%;
    border-radius: 5px;
    border: solid 1px black;
    color: white;
}

.lista-users{
    display: flex;
    width: 90%;
    margin: 25px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: solid #CCCCCC 1px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.tipos-perm{
    display: flex;
    width: 90%;
    margin: 25px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: solid #CCCCCC 1px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.h1-perm{
    margin-left: 6%;
    margin-bottom: 0%;
    font-weight: bold;
}
